[submodule "quickstart/themes/hugo-coder"]
	path = quickstart/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "quickstart/themes/ananke"]
	path = quickstart/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
